[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
requests = "*"
simplejson = "*"
pandas = "*"
openpyxl = "*"
fire = "*"
matplotlib = "*"
jupyter = "*"
setuptools = "*"
wheel = "*"
dist = {editable = true,version = "*"}
stockpy = {path = "./dist/stockpy-0.0.1.tar.gz"}

[requires]
python_version = "3.7"
